[auth]
user = ""
password = ""
totp_serial = ""
totp_secret = ""
use_keyring = false
keyring_store_totp_secret = false

[paths]
sync_directory = "./"
cookie_file = "./session"
browser = ""

[courses]
selected = []
skip = []
semesters = []
prefix_handling = "suffix"

[downloads]
update_files = true
conflict_handling = "rename"

[filters]
exclude_filetypes = []
exclude_files = []
exclude_links = []
allowed_domains = []
exclude_sections = []
exclude_modules = []

[links]
follow_links = true
youtube = true
opencast = true
sciebo = true

[modules]
assignment = true
resource = true
folder = true
quiz = "html"
