{
    "selected_courses": [],
    "skip_courses": [],
    "only_sync_semester": [],
    "user": "",
    "password": "",
    "totp": "",
    "totpsecret": "",
    "basedir": "./",
    "course_prefix_handling": "suffix",
    "cookie_file": "./session",
    "chromium_path": "",
    "use_secret_service": false,
    "secret_service_store_totp_secret": false,
    "no_links": false,
    "used_modules": {
        "assign": true,
        "resource": true,
        "url": {
            "youtube": true,
            "opencast": true,
            "sciebo": true,
            "quiz": "html"
        },
        "folder": true
    },
    "exclude_filetypes": [],
    "exclude_files": [],
    "exclude_links": [],
    "allowed_domains": [],
    "exclude_sections": [],
    "exclude_modules": [],
    "update_files": true
}
