{
    "selected_courses": [],
    "only_sync_semester": [],
    "user": "",
    "password": "",
    "basedir": "./",
    "cookie_file": "./session",
    "enable_download_tracker": true,
    "login_at_start": false,
    "synchronize_at_start": false,
    "close_after_synchronization": false
}
