{
  "selected_courses": [],
  "onlyfetchcurrentsemester": true,
  "enableExperimentalCategories": false,
  "user": "",
  "password": "",
  "basedir": "./",
  "cookie_file": "./session",
  "replace_spaces_by_underscores": true
}