[build-system]
requires = [
    "setuptools>=46.4.0",
    "wheel"
]
build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"

[tool.mypy]
warn_unused_configs = true

warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_return_any = true
warn_unreachable = true

[[tool.mypy.overrides]]
module = [
    "bs4",
    "yt_dlp",
    "tqdm",
    "pdfkit",
    "secretstorage",
]
ignore_missing_imports = true
