name: Test Python package

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]

      - name: Check formatting with black and isort
        run: |
          black --check syncmymoodle
          isort --check-only syncmymoodle

      # Disabled for now, until we refactor the main project
      # - name: Lint with flake8
      #   run: flake8 syncmymoodle

      - name: Analyze with mypy
        run: mypy syncmymoodle
